img{
    width: 100px;
    height: 100px;
    margin-left: 75px;
}
.textcolor{
    color: blanchedalmond;
}

.botonEliminar{
    margin-left: 5px;
    padding: 5px;
    margin-bottom: 10px;
    color: black;
}

