img{
    width: 100px;
    height: 100px;
    margin-left: 75px;
}
.textcolor{
    color: blanchedalmond;
}

.botonEliminar{
    margin-left: 5px;
    padding: 5px;
    margin-bottom: 10px;
    color: black;
}
.text{
    font-size: large;
    width: 100%;
}
.place{
    margin: 1rem;
}
.btnCompra{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
}
.title{
    margin-top: 3rem;
}
.btnVolver{
    margin-bottom: 3rem;
}