.botonMas{
    padding: 5px;
    margin-bottom: 10px;
    color: black;
}
.botonMenos{
    padding: 5px;
    margin-bottom: 10px;
    color: black;
}
.botonAdd{
    padding: 5px;
    margin-bottom: 10px;
    color: black;
}
.cantidad{
    color: white;
    margin-left: 10px;
}